h1, h2, h3, a, .readmore {
    text-transform: uppercase; 
}

header {
    position: relative; 
    background: url(../images/mountains.jpg) no-repeat center center;
    background-size: cover;
    height: 400px;

}

#overlay {
    position: absolute; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    background-color: rgba(95, 95, 95, 0.5); /* Black background with opacity */
  }

#container-header {
      position: relative; 
  }

#main-navbar {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-bottom-right-radius: 10px;
    width: 382px ;
    background-color: rgba(180, 180, 180, 0.3); 
    padding: 0;
}

p {
    margin-bottom: 0;
}

.nav-link {
    color:  white!important; 
    font-size: 0.9em;
    padding: 15px 10px!important;
    transition: all 0.2s ease-in-out; 
}

.nav-link:hover {
    background-color:rgba(0,0,0, 0.2);
}

#description {
    color: white; 
    text-align: center; 
    margin-top: 50px;
}

h2 {
    font-size: 1.5em;
    font-style: italic; 
    margin-top: 30px;
}

section {
    position: relative; 
    padding-top: 60px;
}

h3 {
    color: rgb(124, 124, 124); 
    font-size: 1.5em;
    font-weight: bold;
    width: 150px;
    text-align: center; 
    padding: 10px 0;
    position: absolute;
    top: -25px;
    left: calc(50% - 75px);
}

.blue-background {
    background-color: rgb(14, 7, 44);
    color: white; 
}

.text-intro {
    color: rgb(255, 255, 255); 
}

aside {
    font-size: 2em;
    text-align: center; 
    border: 1px solid rgb(124, 124, 124); 
    border-radius: 10px; 
    padding: 20px;
    margin: 20px;
}

.pagination {
    display: flex; 
    justify-content: center; 
    margin-top: 30px;
    margin-bottom: 70px; 
}

.page-link {
    font-weight: bold; 
    color: rgb(124, 124, 124);
    border-radius: 7px!important; 
    border:none; 
    transition: all 0.2s ease-in-out;
}

.page-link:hover {
    background-color: rgb(124, 124, 124);
    color: white; 
}

.page-item {
    margin-left: 10px; 
    margin-right: 10px; 
}

.white-background {
    background-color: white; 
}

.text-bio {
    text-align: center; 
    color:  rgb(124, 124, 124);
    width: 100%; 
    margin: 15px 0;
}

.table {
    margin-bottom: 70px;
}
thead {
    background-color: rgb(14, 7, 44);
    color: white; 
    text-align: center; 
    font-weight: bold; 
    text-transform: uppercase;
}

.legends {
    background-color: rgb(124, 124, 124); 
    text-transform: uppercase; 
    font-size: 0.9em;
    font-weight: bold; 
    color: white;
}

.column-border {
    border: 1px solid rgba(124, 124, 124, 0.3); 
    color:  rgb(124, 124, 124); 
    font-weight: bold; 
}

.grey-background {
    background-color:  rgb(180, 180, 180); 
    color: white; 
}

.articles img {
    border: 10px solid rgba(255, 255, 255, 0.637);
    margin-bottom: 15px;
    width: 100%;

}

.articles {
    text-align: center;
    padding: 0 15px; 
}

.text-article{
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}

h4 {
    font-size: 1.9em;
    font-weight: bold; 
    margin: 10px 0;
}

.readmore a {
    text-decoration: none; 
    color: white;
    transition: all 0.2s ease-in-out; 
    border-radius: 5px;
    padding: 5px;
}


.readmore {
    margin: 20px 0 60px;
    font-weight: bold; 
}

.readmore a:hover{
    background-color: white;
    color: rgb(180, 180, 180); 
}

form {
    color: rgb(124, 124, 124); 
    font-weight: bold;
}

input, select, textarea {
    background-color: rgb(124, 124, 124)!important; 
    color: white!important; 
}

*:focus {
    outline-style: none!important;
    box-shadow: none!important; 
    border: white;
}

input::placeholder, textarea::placeholder {
    color: white!important; 
}

textarea {
    height: 200px!important;
}

.form-check {
    display: inline;
}

.form-group {
    display: block;
    padding-top: 10px;
}

button {
    background-color: rgb(124, 124, 124)!important; 
    border: rgb(124, 124, 124)!important;
    transition:all 0.2s ease-in-out; 
}

button:hover {
    background-color:  rgb(180, 180, 180)!important;
    color: rgb(124, 124, 124)!important;
}

#address {
    color: rgb(124, 124, 124);
    font-size: 1em;
    border-left: 1px solid rgb(124,124,124);
    padding-left: 20px;

}

footer {
    background: url(../images/seawater.jpg) no-repeat center center;
    background-size: cover;
    color: white; 
    padding: 50px 0px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;


}




/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 575.98px) { 
    #main-navbar { 
        width: 100%;
        border: none;
    }
 }

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 767.98px) { 
    #main-navbar { 
        width: 100%;
        border: none;
    }
 }

/* Large devices (desktops, 992px and up)*/
@media (max-width: 991.98px) { 
    #main-navbar { 
        width: 100%;
        border: none;
    }
 }

/*Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1199.98px) { 
    
 }